* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Georgia', serif;
	background-image: url("2023/default/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #fff;
  }

  
  /* Set the background color and padding for the header */
  header {
	background-color: #ffcccc;
	padding: 20px;
  }
  
  /* Add a border to the header */
  header {
	border-bottom: 1px solid #ccc;
  }
  
  /* Set the font size, color, and margin for the header text */
  header h1 {
	font-size: 32px;
	color: #000000;
	margin: 0;
  }
  
  /* Add some spacing between the header text and the navigation */
  header h1 + nav {
	margin-top: 10px;
  }
  
  
  h1 {
	font-size: 2.5rem;
	text-align: center;
	margin: 2rem 0;
	font-family: 'Montserrat', sans-serif;
	color: #333;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	position: relative;
  }
  
  h1::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #333;
	transform: translateY(-50%);
	z-index: -1;
  }
  
  h1::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 100%;
	height: 2px;
	background-color: #333;
	transform: translateY(-50%);
	z-index: -1;
  }
  
  .logo-left,
  .logo-right {
	position: relative;
    width: 80px; /* Adjust the width as needed */
    height: auto;
  }

  .logo-left {
    position: absolute;
    left: 10px; /* Adjust the position as needed */
  }

  .logo-middle{
	visibility: hidden;
	position: absolute;
	width: 0px;
	height: 0px;
  }

  .logo-right {
    position: absolute;
    right: 10px; /* Adjust the position as needed */
  }


  nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: 'Noto Sans SC', sans-serif;
  }
  
  nav li {
	margin: 0 20px;
	text-align: center;
  }
  
  nav a {
	color: #413b3b;
	text-decoration: none;
	font-size: 18px;
	transition: color 0.3s;
	padding: 10px;
	border-radius: 5px;
  }
  
  nav a:hover {
	color: #ff69b4;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(255, 105, 180, 0.3);
  }
  
  main {
	padding: 50px;
  }
  
  section {
	margin-bottom: 50px;
  }
  
  h2 {
	font-size: 24px;
	margin-bottom: 20px;
  }
  

  .photo-wall {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 50px;
	padding: 1rem;
	align-items: start;
	justify-content: center;
}

  
  /* Grid container */
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
  }
  
  /* Image-shaped image container */

  .Image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s;
	margin-bottom: 50px;
  	margin-right: 100px;
  	flex: 1 1 500px;
	overflow: hidden;
	}

	.Image:hover {
  	transform: scale(1.1);
    cursor: pointer;
	}

	.Image::before,
	.Image::after {
  	content: "";
  	position: relative;
  	width: 100%;
  	height: auto;
  	background: inherit;
	}

	.Image::before {
  	transform-origin: 0 100%;
  	transform: rotate(45deg);
	}

	.Image::after {
  	left: 50%;
  	transform-origin: 100% 100%;
  	transform: rotate(-45deg);
	}

	.image-navigation {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: rgba(255, 255, 255, 0.5);
		border: none;
		font-size: 2rem;
		cursor: pointer;
		padding: 10px 20px;
		z-index: 1;
		
	  }
	  
	  #prev-image {
		left: 10px;
	  }
	  
	  #next-image {
		right: 10px;
	  }
	  
	  .image-navigation:hover {
		background-color: rgba(255, 255, 255, 0.8);
	  }
	  

	/* Modal styles */
.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
	position: relative;
	margin: 15% auto;
	padding: 1rem;
	width: 80%;
	max-width: auto;
	background-color: white;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .close {
	position: absolute;
	top: 0;
	right: 1rem;
	font-size: 2rem;
	font-weight: bold;
	color: #333;
	cursor: pointer;
  }
  
  .close:hover {
	color: #f76c6c;
  }
  
  .enlarged-image-container img {
	display: block;
	width: 100%;
	height: auto;
	margin:auto;
	
  }
  
  .image-description {
	margin-top: 1rem;
	text-align: center;
	font-size: 1.2rem;
	font-family: 'Noto Sans SC', sans-serif;
  }
  
  /* Hide the modal by default */
  .hidden {
	display: none;
  }

  .toggle-sound {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.3s;
  }

  .toggle-sound:hover {
    background-color: #45a049;
  }


  .love-letter-button {
    background-color: #ff69b4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
	position: relative;
	z-index: 1;
	font-family: 'Noto Sans SC', sans-serif;
	  
}

.love-letter-button:hover {
    background-color: #ff9999;
}
  
  #letter-container {
	display: none;
	background-color: #fff;
	padding: 20px;
	position:relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  }
  
  #letter-content {
	height: 300px;
	overflow-y: scroll;
	font-size: 18px;
	line-height: 1.5;
	padding-right: 20px;
	font-family: 'Noto Sans SC', sans-serif;
  }
  
  #close-letter {
	display: inline-block;
    background-color: #ff69b4;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #close-letter:hover {
	background-color: #ff69b4;
  }
  
  footer {
	background-color: #ffcccc;
    padding: 20px;
    text-align: center;
    border: 3px solid #ff69b4;
  }
  
  #time-display {
	font-size: 18px;
	text-align: right;
	color: black;
	font-family: 'Noto Sans SC', sans-serif;
  }
  

  /* Mobile styles */
  @media only screen and (max-width: 480px) {
	header {
		padding: 10px;
	}

	.logo-left,
	.logo-middle,
  	.logo-right {
		position: relative;
    	width: 80px; /* Adjust the width as needed */
    	height: auto;
		margin-bottom: auto;
  	}

  	.logo-left {
    	left: 10px; /* Adjust the position as needed */
  	}

	.logo-middle{
		visibility: visible;
		display:block;
		margin-left:auto;
		margin-top: -18%;
		margin-right: auto;
	}

  	.logo-right {
   	 position: absolute;
	 margin-top: -18%;
     right: 10px; /* Adjust the position as needed */
 	}

	h1 {
		font-size: 28px;
	}

	nav li {
		margin-right: 10px;
	}
	nav a {
		font-size: 16px;
	}
	main {
		padding: 20px;
	}
	h2 {
		font-size: 20px;
	}
	.photo-wall {
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
		grid-gap: 10px;
	}
	.Image {
		max-height: 120px;
	}
	.modal-content {
		margin: 10% auto;
		width: 90%;
	}
	.enlarged-image-container img {
		max-height: 200px;
		display: block;
		width: auto;
		height: auto;
		margin:auto;
			
		}
	}
	.image-description {
		font-size: 1rem;
	}
	.love-letter-button {
		padding: 10px 20px;
		font-size: 14px;
	}
	#letter-content {
		font-size: 16px;
	}
	#close-letter {
		padding: 5px 10px;
		font-size: 12px;
	}
	#time-display {
		font-size: 16px;
	}


/* Tablet styles */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	header {
		padding: 15px;
	}
	h1 {
		font-size: 32px;
	}
	nav li {
		margin-right: 15px;
	}
	nav a {
		font-size: 18px;
	}
	main {
		padding: 30px;
	}
	h2 {
		font-size: 22px;
	}
	.photo-wall {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		grid-gap: 20px;
	}
	.Image {
		max-height: 150px;
	}
	.modal-content {
		margin: 12% auto;
		width: 80%;
		max-width: 500px;
	}
	.enlarged-image-container img {
		max-height: 250px;
	}
	.love-letter-button {
		padding: 12px 28px;
		font-size: 16px;
	}
	#letter-content {
		font-size: 20px;
	}
	#close-letter {
		padding: 8px 16px;
		font-size: 14px;
	}
	#time-display {
		font-size: 20px;
	}
}

/* Desktop Style */

@media screen and (min-width: 768px) {
  
	body {
	  font-size: 18px;
	}
	
	header {
	  padding: 30px;
	}
	
	h1 {
	  font-size: 48px;
	}
	
	nav a {
	  font-size: 20px;
	}
	
	main {
	  padding: 100px;
	}
	
	h2 {
	  font-size: 36px;
	}
	
	.photo-wall {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		grid-gap: 10px;
	  }

	.Image {
		font-size: 12px;
	  }
	
	.love-letter-button {
	  font-size: 20px;
	  padding: 20px 40px;
	  margin: 20px 0;
	}
	
	#letter-container {
	  padding: 40px;
	}
	
	#letter-content {
	  font-size: 20px;
	}
	
	footer {
	  padding: 30px;
	}
	
	#time-display {
	  font-size: 20px;
	}
  }